In [1]:
!pip3 install gdown
!pip3 install pandas

Requirement already satisfied: gdown in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (4.7.1)
Requirement already satisfied: filelock in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from gdown) (3.9.0)
Requirement already satisfied: requests[socks] in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from gdown) (2.28.1)
Requirement already satisfied: six in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from gdown) (4.64.1)
Requirement already satisfied: beautifulsoup4 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from gdown) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from beautifulsoup4->gdown) (2.3.2.post1)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from requests[socks]->gdown) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from requests[socks]->gdown) (2022.6.15)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: pandas in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
gdown.download('https://bit.ly/3736JW1','ns_book6.csv', quiet=False)

NameError: name 'gdown' is not defined

In [3]:
!pip install gdown

Requirement already satisfied: gdown in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (4.7.1)
Requirement already satisfied: beautifulsoup4 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from gdown) (4.11.1)
Requirement already satisfied: tqdm in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from gdown) (4.64.1)
Requirement already satisfied: six in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from gdown) (1.16.0)
Requirement already satisfied: requests[socks] in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from gdown) (2.28.1)
Requirement already satisfied: filelock in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from gdown) (3.9.0)
Requirement already satisfied: soupsieve>1.2 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from beautifulsoup4->gdown) (2.3.2.post1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from requests[socks]->gdown) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from requests[socks]->gdown) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /Users/sonjimin/anaconda3/lib/python3.10/site-packages (from requests[socks]->gdown) (1.7.1)

In [4]:
gdown.download('https://bit.ly/3736JW1','ns_book6.csv', quiet=False)

NameError: name 'gdown' is not defined

In [5]:
df = pd.DataFrame()

NameError: name 'pd' is not defined

In [6]:
import gdown

gdown.download('https://bit.ly/3736JW1','ns_book6.csv', quiet=False)

Downloading...
From: https://bit.ly/3736JW1
To: /Users/sonjimin/github/DA/ns_book6.csv
100%|██████████████████████████████████████| 55.0M/55.0M [00:15<00:00, 3.59MB/s]

'ns_book6.csv'

In [22]:
import pandas as pd


df = pd.DataFrame(
    {"a" : [4,5,6],
     "b" : [7,8,9],
     "c" : [10,11,12]},
    index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)], names = ['n','v']))

In [23]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [24]:
pd.melt(df)

  variable  value
0        a      4
1        a      5
2        a      6
3        b      7
4        b      8
5        b      9
6        c     10
7        c     11
8        c     12

In [ ]:
df1 =

In [14]:
pd.concat([df1,df2])
pd.concat([df1,df2], axis =1)

NameError: name 'df1' is not defined

In [17]:
df[df.Length > 7]
df.drop_duplicates()
df.head(2)
df.tail(1)
df.sample(frac = 0.5)
df.sample(n = 2)
df.iloc[1:2]
df.nlargest(2, 'val')
df.smallest(2, 'val')

AttributeError: 'DataFrame' object has no attribute 'Length'

In [18]:
df.sort_values('mpg')
df.sort_values('mpg', ascending=False)
df.rename(columns = {'y' : 'year'})
df.sort_index()
df.reset_index()

KeyError: 'mpg'